body{
    padding: 20px;
}

#appContainer{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border:solid 1px #ccc;
    border-radius: 5px;
    background: #f0f0f0;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(173,173,173,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(173,173,173,1);
    box-shadow: 4px 4px 5px 0px rgba(173,173,173,1);
    padding: 10px;
}
.appTitle{
    text-align: center;
    font-size: 25px;
    color:#19b81e;
}

.addForm{
    display: flex;
}

.addForm button{
    margin-left: 20px;
}

.todoList{
    list-style: none;
    padding: 0;
    margin: 0;
}

.itemList{
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
}
.itemList .content{
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.itemList .content p{
    margin-bottom: 0px;
    color: #19b81e;
}

.itemList .content span{
    color: #505050;
    font-size: 10px;
}

.itemList .checkBox{
    margin-top: 10px;
    margin-left: 10px;
}

.itemList .deleteBtn{
    padding: 10px;
}

.itemList.completed .content p{
    text-decoration: line-through;
}